aiofiles
aiohttp
aioaria2
aioshutil
aioqbt
anytree
apscheduler
cloudscraper
dnspython
ElectroCrypto
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
kurigram
langcodes
lxml
natsort
pillow
psutil
pymongo
pyrogram
pyshorteners
python-magic
pytube
pytz
pytdbot[tdjson]
requests
sabnzbdapi
speedtest-cli
telegraph
tenacity
tgcrypto
truelink
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
